label {
    font-size: 18px;
  }
  
  .content {
    height: 100%;
    text-align: center;
  }
  
  .formulario {
    margin-top: 50px;
    width: 74%;
    margin: 50px auto;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    border-radius: 8px;
  }
  
  p {
    margin-left: 60px;
  }
  
  .formulario h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  
  mat-form-field {
    width: 28%;
    max-width: 400px;
    margin-right: 2%;
  }
  
  .carregando mat-spinner {
    margin: 280px auto;
  }
  
  .footer-button button {
    float: right;
    margin-right: 25px;
    color: white;
    font-size: 17px;
    margin-top: 20px;
  }
  
  .footer {
    height: 60px;
  }
  
  ::ng-deep .sucesso {
    color:white;
    background: #08a583 !important;
  }
  
  ::ng-deep .erro {
    color:white;
    background: #fa0800 !important;
  }
  
  .required:after {
    content:" *";
    color: red;
    font-size: 18px;
  }
  
  .input-data {
    color: black;
  }
  